.header-wrapper{
	
	width: 100%;
    position: relative;
    padding: 15px;
    background-color: #f5f5f5;

}

.header-content{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-content .logo{
	width: 15%;
}
.header-content .navigation{
	width: 60%;
}
.header-content .navigation ul{
	list-style: none;
    display: inline-flex;
    float: right;
    margin-top: 30px;
}

.header-content .navigation ul li{
	margin-right: 30px;
}
.header-content .logo img{
	height:90px;
	width:auto;
}
.section{
	margin-top: 30px;
    padding: 10px;
}
.module-wrapper{
	background-color: #eaeaea;
}
.module-wrapper .module-content{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.module-content .left-content{
	width:20%;
}

.left-content .units{
	border: solid 1px #000;
}

.left-content .top-settings select{
	width:100%;
}
.left-content .units .lists-wrapper{
	padding: 10px;
}

.lists-wrapper .list-content .unit-name{
	padding: 10px 0px;
    border-bottom: solid 1px #000;
}
.right-content{
	width:100%;
}
.right-content .top-settings{
	width: 100%;
}

.right-content .top-settings .month-name{
	text-align:center;
	border: solid 1px #000;
}

.cal-wrapper{
    overflow-y: auto;
    height: 400px;
}

.cal-wrapper .cal-content{
	display:flex;
	flex-wrap:wrap;
	height:400px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.cal-wrapper .cal-content .cal-content-left{
	width: 17%;
}

.cal-wrapper .cal-content .cal-content-right{
	width: 80%;
    overflow: auto;
}

.cal-wrapper .cal-content-scroll .cal-days-wrapper{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1130px;
}

.cal-wrapper .cal-content-scroll .cal-days-wrapper .cal-day{
    padding:0px 10px;
}

.month-wrapper{

}

.month-wrapper .month-name{

}

.month-wrapper .month-name .cal-day{
	display: table-cell;
	padding:0px 3px;
}

.month-wrapper .month-name .cal-day-marker{
	display: table-cell;
}

.month-days td{
	padding: 0px 10px;
	border: solid 1px #000;
}

.day-border{
	border-left: solid 1px #000;
    border-top: solid 1px #000;
}


.unit-row td:first-child, .month-days td:first-child{
	visibility: hidden;
}

.unit-row td{

}

.unit-lists tr:first-child td:first-child{
	visibility: hidden;
}

.unit-name{
    border-bottom: solid 1px #000;
    padding: 10px;
}

.unit-name-hidden{
	padding:10px;
}

.unit-name-div{
	width: 170px
}

.marker{
	padding:15px;
	width:100%;
	position:relative;
}

.marker span{
	position:absolute;
	top: 0px;
    left: 10px;
}

.marker-current{
	background-color:#cc0000;	
}

.marker-approved{
	background-color:#ffa500;	
}

.marker-past{
	background-color:#008000;	
}

.tooltip-wrapper{
	width: 190px;
    background-color: #08d408;
    padding: 5px;
}

.tooltip-wrapper .tooltip-content{
	padding: 5px;
    background-color: white;
}

.tooltip-details{
	font-size:14px;
}

.adjust-left-top {
    height: 24px;
}

.left-selection tr td div{
	height: 24px
}

.unit-lists tr td div.adjust-first-col{
	padding: 10px;
    height: 43px;
}