.header-wrapper{
	
	width: 100%;
    position: relative;
    padding: 15px;
    background-color: #f5f5f5;

}

.header-content{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-content .logo{
	width: 15%;
}
.header-content .navigation{
	width: 60%;
}
.header-content .navigation ul{
	list-style: none;
    display: inline-flex;
    float: right;
    margin-top: 30px;
}

.header-content .navigation ul li{
	margin-right: 30px;
}
.header-content .logo img{
	height:90px;
	width:auto;
}
.section{
	margin-top: 30px;
    padding: 10px;
}
.module-wrapper{
	background-color: #eaeaea;
}
.module-wrapper .module-content{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.module-content .left-content{
	width:20%;
}

.left-content .units{
	border: solid 1px #000;
}

.left-content .top-settings select{
	width:100%;
}
.left-content .units .lists-wrapper{
	padding: 10px;
}

.lists-wrapper .list-content .unit-name{
	padding: 10px 0px;
    border-bottom: solid 1px #000;
}
.right-content{
	width:100%;
}
.right-content .top-settings{
	width: 100%;
}

.right-content .top-settings .month-name{
	text-align:center;
	border: solid 1px #000;
}

.cal-wrapper{
    overflow: hidden;
    height: 400px;
}

.cal-wrapper .cal-content{
	/*display:flex;
	flex-wrap:wrap;*/
	height:400px;
}

.cal-wrapper .cal-content .cal-content-row::before, .cal-wrapper .cal-content .cal-content-row::after{
	content : '';
	clear:both;
	display:table;
}
.cal-wrapper .cal-content-row .cal-content-left{
	width: 17%;
	float:left;
	position:relative;
	z-index: 99999;
}

.cal-wrapper .cal-content .cal-content-right{
	width: 80%;
	float:left;
	position:relative;
}

.cal-wrapper .cal-content .cal-content-row.content-scroll{
	position:relative;
	overflow: auto;
	height:400px;
}

.cal-content-right .date-list{
	position:relative;
	top:0px;
	background-color: #fff;
    z-index: 2;
}

.cal-content-right .unit-lists{
	position: relative;
    z-index: 1;
    top: -25px;
    left: -2px;
}

.cal-content-right .unit-lists .spacing{
	width:20px;
}

.cal-wrapper .cal-content-scroll .cal-days-wrapper{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1130px;
}

.cal-wrapper .cal-content-scroll .cal-days-wrapper .cal-day{
    padding:0px 10px;
}

.month-wrapper.left-selection{
	width: 100%;
}

.left-selection select{
	width: 100%;
}

.month-wrapper .month-name{

}

.month-wrapper .month-name .cal-day{
	display: table-cell;
	padding:0px 3px;
}

.month-wrapper .month-name .cal-day-marker{
	display: table-cell;
}

.month-days td{
	padding: 0px 10px;
	border: solid 1px #000;
}

.day-border{
	border-left: solid 1px #000;
    border-top: solid 1px #000;
}


.unit-row td:first-child, .month-days td:first-child{
	visibility: hidden;
}

.unit-row td{

}

.unit-lists tr:first-child td:first-child{
	visibility: hidden;
}

.unit-name{
    border-bottom: solid 1px #000;
    padding: 10px;
}

.unit-name-hidden{
	padding:10px;
}

.unit-name-div{
	width: 170px
}

.marker{
	padding:15px;
	width:100%;
	position:relative;
}

.marker span{
	position:absolute;
	top: 0px;
    left: 10px;
}

.marker-current{
	background-color:#cc0000;
	width:100% !important;
}

.marker-approved{
	background-color:#ffa500;
	width:100% !important;	
}

.marker-past{
	background-color:#008000;
	width:100% !important;	
}

.tooltip-wrapper{
	width: 190px;
    background-color: #08d408;
    padding: 5px;
    z-index: 999999;
}

.tooltip-wrapper .tooltip-content{
	padding: 5px;
    background-color: white;
}

.tooltip-details{
	font-size:14px;
}

.adjust-left-top {
    height: 24px;
}

.left-selection tr td div{
	height: 24px
}

.unit-lists tr td div.adjust-first-col{
	padding: 10px;
    height: 43px;
}

.cal-content-right .hide-date{
	visibility: hidden;
}

#scroller{
	background-color: #545151;
	width: 50px;
    height: 15px;
    position: fixed;
    top: 500px;
    left:280px;
    z-index: 9999;
}

#vscroller{
	background-color: #545151;
    width: 15px;
    height: 400px;
    position: absolute;
    top: 53px;
    right: 0px;
    z-index: 9999;
}

.top-selection-props{
	position: relative;
    background: #FFF;
    width: 100%;
    height: 52px;
    z-index: 999999;
}

#scroll-unit-lists{
	position: relative;
	background: #FFF;
}

#scroll-unit-lists table{
	width:100%;
}

